@font-face {
    font-family: "Roboto Regular";
    src: url(../css/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto Regular";
}

.header-top {
    background-color: #F7F7F7;
}

.icon {
    color: white;
    font-size: 12px;
}

.social li {
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #939394;
}

.social > li > a {
    text-decoration: none;
}

.fb:hover {
    background-color: #3B5999;
    transition: 1.2s;
}

.insta:hover {
    background-color: #E4405F;
    transition: 1.2s;
}

.header-nav > li > a {
    transition: .5s ease;
    color: rgb(102 102 102);
    text-decoration: none;
    font-family: "Roboto Regular";
    font-size: 14px;
}

    .header-nav > li > a:hover {
        color: #005FB5;
    }

.login > li > a {
    transition: .5s ease;
    color: rgb(102 102 102);
    text-decoration: none;
    font-family: "Roboto Regular";
    font-size: 14px;
}

    .login > li > a:hover {
        color: #005FB5;
    }

.width {
    width: 110%;
}

.blue {
    color: #005FBF;
    font-size: 27px;
    margin-right: 20px;
}

.middle-right > div {
    width: 100%;
}

.call > div {
    margin-top: 20px;
}

.locate span {
    margin-left: -8px;
}

.blue strong {
    font-size: 16px;
    font-family: "Roboto-Regular";
    color: #656565;
}

.header-bottom {
    background-color: #005FB5;
}

.list > li {
    margin: 14px 30px 14px 0;
}

    .list > li > a {
        font-family: "Roboto Regular";
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

        .list > li > a:hover {
            color: #FFA476;
            transition: .5s ease;
        }

/* section home */

.home {
    width: 100%;
    height: 100%;
}

.image {
    background-image: url(../css/images/city.starex.jpg);
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    position: relative;
}

.intro {
    position: relative;
    z-index: 2;
}

.intro-text h1 {
    margin: 0 0 4px;
    font-size: 35px;
    font-family: "Roboto Regular";
    color: rgb(255 255 255);
    letter-spacing: 3px;
    text-align: center;
}

.intro-text span {
    color: #FFAB03;
}

.intro-text h2 {
    text-align: center;
    letter-spacing: 9px;
    font-size: 60px;
    font-weight: bold;
    color: rgb(255 255 255);
}

.country-wrap {
    height: 65px;
    width: 100%;
    position: relative;
    background: rgb(255 255 255 / 89%);
    border-radius: 40px;
    padding: 0 33px;
}

.country-type {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

    .country-type option {
        outline: none !important;
        border: none;
    }

.liquid {
    margin-left: 44px;
    margin-top: 10px;
    height: 24px;
}

.check {
    color: white;
    font-size: 16px;
}

.weight-wrap {
    position: relative;
    background: rgb(255 255 255 / 89%);
    border-radius: 40px;
    height: 65px;
    overflow: hidden;
}

.wrap {
    background-color: #E7E6E6;
}

.weight-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .weight-wrap select, input {
        background: none;
    }

    .weight-wrap input {
        width: 100%;
        height: 100%;
        padding: 0 87px 0 35px;
    }

.weight_select {
    right: 30px;
    position: absolute;
}

.weight_total {
    position: relative;
    border-radius: 40px;
    background-color: rgb(255 171 3);
    height: 65px;
}

    .weight_total div {
        flex: 1;
        padding: 14px 30px;
        text-align: right;
        font-size: 16px;
        font-family: "Roboto Regular";
        color: rgb(255 255 255);
    }

    .weight_total span {
        padding: 0 20px;
        height: 65px;
        display: flex;
        align-items: center;
        border-radius: 0 65px 65px 0;
        background: rgb(192 128 0);
        font-size: 20px;
        color: rgb(255 255 255);
    }

.section-title {
    font-size: 40px;
    font-family: "Roboto Regular";
    color: rgb(69 69 69);
    letter-spacing: 3px;
}

    .section-title::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        width: 88px;
        height: 5px;
        background: rgb(255 171 3);
    }

.desc {
    letter-spacing: 2px;
    font-size: 25px !important;
    font-family: "Roboto Regular";
    color: rgb(102 102 102);
    line-height: 24px;
}

.howwork {
    background-color: #F5F5F5;
}

    .howwork i {
        font-size: 100px;
        color: #005FB5;
    }

    .howwork > h3 {
        text-align: center !important;
        font-family: "Roboto Regular";
    }

    .howwork p {
        text-align: center !important;
        font-family: "Roboto Regular";
    }

.how-works {
    text-align: center;
}

.howwork h3 {
    font-size: 25px;
    color: rgb(69 69 69);
}

.howwork p {
    font-size: 14px;
    color: rgb(102 102 102);
}

.left-img {
    width: 50%;
    height: 100%;
}

    .left-img img {
        width: 100%;
    }

.after {
    font-size: 40px;
    font-family: "Roboto-Regular";
    color: rgb(69 69 69);
    font-size: 26px;
    line-height: 27px;
}

.half-section-title:after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0;
    width: 86px;
    height: 4px;
    background: rgb(0 95 181);
}

.advantages-image {
    background-image: url(../css/images/1543500976_045511_advantages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 50%;
}

@media (max-width: 991.98px) {
    .advantages-image {
        height: 300px;
        position: relative;
        width: 100%;
    }
}

.advantages h4 {
    font-size: 25px;
    color: #005fb5;
    margin-bottom: 10px;
}

.advantages p {
    font-size: 16px;
    color: #666;
}

.advantages-wrap h1 {
    position: relative;
    font-size: 40px;
    color: #454545;
    font-size: 26px;
    line-height: 27px;
}

@media (max-width: 575.98px) {
    .advantages-wrap h1 {
        font-size: 26px;
        line-height: 27px;
    }
}

.advantages-wrap span {
    width: 86px;
    height: 4px;
    background-color: #005fb5;
    margin-top: 20px;
}

.big-img img {
    width: 100%;
    height: 100%;
}

.big-img h3 {
    font-size: 18px;
    font-family: "Roboto Regular";
    transition: .3s ease;
    color: rgb(64 64 64);
}

.big-img time {
    font-size: 12px;
    font-family: "Roboto Regular";
    color: rgb(194 194 194);
}

.big-img a {
    text-decoration: none;
    background: rgb(255 255 255);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .2);
    display: block;
}

    .big-img a:hover {
        text-decoration: none;
        box-shadow: none;
        transition: .5s ease;
    }

.news-desc {
    padding: 1.5rem !important;
}

.latest {
    background-color: #F5F5F5;
}

.call-center span {
    width: 88px;
    height: 5px;
    margin-top: 20px;
    background-color: white;
    z-index: 2;
}

.call-center h1 {
    color: white;
    font-size: 40px;
    z-index: 2;
}

.call-center h3 {
    color: white;
}

.call-center p {
    text-align: start !important;
}

@media (max-width: 575.98px) {
    .call-center h1 {
        font-size: 26px;
        line-height: 27px;
    }
}

.call-center {
    background-image: url(../css/images/1578735073_3967578_cargo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.call_center_phone img {
    transform: scaleX(-1);
    height: 55px;
    margin-right: 10px;
}

.call_center_phone {
    text-decoration: none !important;
}

    .call_center_phone :hover {
        text-decoration: none !important;
    }

.callcenter-bck {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 100, 173, .73);
}

.call_center_phone, .call_center_phone:hover {
    font-size: 70px;
    color: white;
}

@media (max-width: 991.98px) {
    .call_center_phone {
        font-size: 35px;
    }
}

.call_center_fb a, .call_center_insta a {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 60px;
    color: white;
    margin-left: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    font-size: 26px;
    text-decoration: none !important;
}

    .call_center_fb a:hover, .call_center_insta a:hover {
        background-color: white;
        color: #005fb5;
    }

.call-center-footer img {
    height: 70px;
}

.call-center-footer p {
    color: white;
}

.footer-top {
    background: rgb(58 58 58);
}

.footer-bottom p {
    color: #666666;
    font-size: 14px;
    font-family: "Roboto Regular";
}

.ios {
    width: 200px;
}

    .ios img {
        width: 100%;
    }

.about > ul > li > a {
    color: white;
    font-size: 16px;
    font-family: "Roboto Regular";
}

/* RESPONSIVLIK */

@media (max-width: 575.98px) {
    .image {
        height: 600px;
    }

    .howwork h3, p {
        font-size: 20px;
        line-height: 24px;
    }
}

@media(max-width:768px) {
    .new {
        margin-bottom: 20px;
    }
}

@media(max-width:992px) {
    .home .image .intro .intro-text h1 {
        line-height: 30px;
        font-size: 20px;
    }

    .home .image .intro .intro-text h2 {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .main-adv {
        width: 100%;
        height: auto;
    }

    .logo {
        margin-bottom: 50px;
    }

    .fass {
        text-align: center;
    }

    .left-img {
        width: 100%;
    }

        .left-img img {
            height: 300px;
            position: relative;
            width: 100%;
            object-fit: cover;
        }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*TARIFLER*/

.bg-image {
    background-image: url(../css/images/tarifs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 180px;
}

    .bg-image h1 {
        text-align: center;
        color: rgb(255 171 3);
        font-size: 2.5rem;
        font-family: "Roboto Regular";
    }

.center-tarif {
    background-color: rgb(0 0 0 / 0%);
}

.center-tarif {
    color: rgb(255 171 3);
    font-family: "Roboto Regular";
}

    .center-tarif a {
        color: rgb(255 171 3);
    }

        .center-tarif a:hover {
            color: rgb(255 171 3);
        }

.nav-link {
    min-width: 116px;
    text-align: center;
    border: 1px solid rgb(0 0 0 / 0%);
    color: #495057;
}

    .nav-link:hover {
        color: #495057;
    }

.nav {
    border-bottom: 1px solid rgb(222 226 230);
}

.text-center {
    font-size: 30px;
    font-family: "Roboto Regular";
}

@media(min-width:768px) {
    .text-center {
        font-size: 20px;
    }
}

.manat {
    background-image: url(../css/images/manat.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    width: 14px;
}

.carriage-tab {
    display: none;
}

.carriage h2 {
    text-align: center;
    font-family: "Roboto Regular";
}

.carriage {
    background-color: rgb(248 248 248);
}

.active {
    color: rgb(73 80 87);
    background-color: rgb(255 255 255);
    border-color: rgb(222 226 230) rgb(222 226 230) rgb(255 255 255);
}

.show {
    display: block;
}

.courier-tarif {
    background-color: rgb(248 248 248);
}

/*Dasima sertleri*/

.transport-image {
    background-image: url(../css/images/1578735073_3967578_cargo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 180px;
}

.top-transport {
    background-color: rgb(248 248) !important
}

.transport-image h1 {
    text-align: center;
}

.content p {
    margin: 20px 0;
    font-family: "Roboto Regular";
}

@media(max-width:992px) {
    .center-transport .row {
        display: flex;
        flex-direction: column-reverse;
    }
}

.center-transport {
    background-color: rgb(248 248 248);
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-header {
    background: rgb(0 95 181);
    padding: 17px 20px;
    font: 16px/19px Roboto-Regular;
    color: rgb(255 255 255);
    margin-bottom: 10px;
}

.about-tr nav {
    background: rgb(255 255 255);
    padding: 0 20px;
}

.about-tr ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgb(243 243 243);
}

.about-tr a {
    font-size: 14px;
    color: rgb(89 89 89);
    font-family: "Roboto Regular";
    transition: all .3s ease;
    text-decoration: none;
}

    .about-tr a:hover {
        text-decoration: none;
    }

/*CONTACT*/

.contact-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(15 82 156);
    text-align: center;
    font-size: 25px;
    color: rgb(0 95 181);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact h3 {
    font-size: 16px;
    font-family: "Roboto Regular";
    color: rgb(54 71 79);
}

.contact p {
    font-size: 20px;
    font-family: "Roboto Regular";
    color: rgb(54 71 79);
}

.contact a {
    color: rgb(54 71 79);
    text-decoration: none;
}

    .contact a:hover {
        color: rgb(54 71 79);
        text-decoration: none;
    }

.contact-middle {
    background: rgb(249 249 249);
}

.contact-bottom::before {
    content: "";
    display: inline-block;
    width: 65px;
    height: 1px;
    background: rgb(175 175 175);
}

.contact-bottom {
    text-align: center;
}

.branch {
    background: rgb(255 255 255);
    border: 1px solid rgb(222 226 230);
    border-top: none;
    padding: 40px;
}

    .branch p {
        font-size: 15px;
        font-family: "Roboto Regular";
        color: rgb(124 124 124);
        margin-bottom: 1rem !important;
    }

    .branch i {
        color: #005FB5;
        font-size: 18px;
        line-height: 1.2;
        margin-right: 20px;
    }

.tab-content-branch > .tabs {
    display: none;
}

.map {
    position: relative;
    height: 442px;
    overflow: hidden;
}

.contact-logos a {
    margin: 0 5px;
    display: inline-block;
}

/* Shop*/

.bg-shop {
    background-image: url(../css/images/1578735073_3967578_cargo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 180px;
}

    .bg-shop h1 {
        text-align: center;
        color: rgb(255 171 3);
        font-size: 2.5rem;
        font-family: "Roboto Regular";
    }

.img-shop {
    background-color: rgb(255 255 255);
    height: 143px;
}

    .img-shop img {
        width: 100%;
    }

.tab-content-shop p {
    padding: 7px 0;
    font-size: 14px;
    font-family: "Roboto Regular";
    color: rgb(255 255 255);
    text-decoration: none;
    background: rgb(255 171 3);
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.tab-content-shop a {
    display: block;
    text-decoration: none;
}

    .tab-content-shop a:hover {
        text-decoration: none;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .2);
        transition: .5s ease;
    }
/*login*/
.login-body {
    background-color: rgb(248 248 248);
}

.root-top a:hover {
    background-color: #005FB5;
    color: white;
    transition: .5s ease;
}

.order-btn {
    align-items: center;
    justify-content: center;
    background-color: initial;
    display: flex;
    border: 1px solid rgb(0 95 181);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(0 95 181);
    padding: 5px;
    margin-top: 20px;
    text-decoration: none;
}

    .order-btn i {
        padding-left: 10px;
    }

a:hover {
    text-decoration: none !important;
}

.header-root {
    margin-top: 30px;
}

.root-top {
    border: 1px solid rgb(222 226 230) !important;
    background-color: rgb(255 255 255) !important;
    padding: 1.5rem !important;
}

.currency-card {
    background-color: rgb(0 95 181);
    color: rgb(255 255 255);
    height: 84px;
}

    .currency-card p::before {
        content: "";
        width: 6px;
        height: 6px;
        display: inline-block;
        vertical-align: top;
        margin-top: 8px;
        margin-right: 9px;
        border-radius: 50%;
        background: rgb(245 166 35);
    }

.bottom-root {
    margin-top: 30px;
}

.yellow-nav a {
    display: block;
    padding: 15px 25px;
    position: relative;
    color: gray;
}

.yellow-nav {
    background-color: rgb(255 255 255) !important;
    border: 1px solid rgb(222 226 230);
}
/*******************Register Form******************/
.form-submit input {
    padding: 17px 0;
    font: 14px/16px Roboto-Regular;
    color: #005fb5;
    border: 2px solid #005fb5;
    border-radius: 40px;
    background: transparent;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.form-line input, .form-line select {
    color: #000;
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    border-bottom: 1px solid #24252a;
}

.form-line {
    margin: 25px 0;
}

    .form-line label {
        font-size: 16px;
        color: rgba(0,0,0,.4);
        display: block;
        margin: 0;
    }

    .form-line input:focus, .form-line select:focus {
        box-shadow: none !important;
        border-color: #005fb5;
    }

.register h2 {
    color: #005fb5;
    font-size: 32px;
}

input[type=datetime-local] {
    -webkit-appearance: none;
}

.username li {
    position: relative;
    cursor: pointer;
    color: #005fb5;
    font-size: 15px !important;
    font-weight: 700;
    white-space: nowrap;
    transition: .3s ease;
}

.username {
    height: 100%;
}

.navigate-menu a {
    font-weight: 700;
    white-space: nowrap;
    line-height: 2;
    transition: .2s ease;
    color: #005fb5;
}

    .navigate-menu a:hover {
        color: #ffab03;
    }


.username ul.dropdown {
    display: none;
    background-color: white;
    left: 0;
    transition: .3s ease;
    position: absolute;
    top: 80%;
    z-index: 99;
    padding: 10px 20px;
    box-shadow: 0 .5rem 1rem rgba(85,85,85,.15) !important;
}

ul.dropdown li {
}

.username:hover ul.dropdown {
    display: block;
}

.username li ul.dropdown li {
    display: block;
}

.login-menu a:hover {
    color: #005fb5;
}




.select-country a {
    width: 145px;
    height: 75px;
}

.select-country p {
    text-align: center;
    margin-top: 10px;
}

.select-country img {
    opacity: .7;
    transition: .3s;
    width: 145px;
    height: 75px;
}

    .select-country img:hover {
        opacity: 1;
    }

.form-control {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 19px;
    border: 1px solid #e6e8eb;
    border-radius: 0;
    color: #666;
    height: auto;
}

.form-wrap label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #4b4b4b;
}

.form-wrap small {
    font-size: 12.8px;
    margin-left: 20px;
}

#chk {
    position: absolute;
    left: 20px;
    top: -5px;
}