
@{
    ViewData["Title"] = "Adress";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="root">
    <div class="header-root">
        <div class="container">
            <div class="root-top">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <h2>Elshan Mustafayev</h2>
                        <p>MÜŞTƏRİ KODU: <span class="font-weight-bold">#030657</span></p>
                    </div>
                    <div class="col-12 col-lg-8 d-md-flex flex-wrap">
                        <div class="col-md-6">
                            <a href="" class="order-btn">
                                <p>Sifariş et </p>
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="order-btn">
                                <p>Bəyannamə əlavə et </p>
                                <i class="fas fa-newspaper"></i>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="order-btn">
                                <p>Kuryer sifariş et </p>
                                <i class="fas fa-truck"></i>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <a href="" class="order-btn">
                                <p>Onlayn müraciət et </p>
                                <i class="fas fa-clipboard-list"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-lg my-2">
                                <div class="currency-card py-2 px-3 rounded shadow">
                                    <p>Cari ay ərzində</p>
                                    <div>$ 0</div>
                                </div>
                            </div>
                            <div class="col-lg my-2">
                                <div class="currency-card py-2 px-3 rounded shadow">
                                    <p>Balance (TRY)</p>
                                    <div>$ 0</div>
                                </div>
                            </div>
                            <div class="col-lg my-2">
                                <div class="currency-card py-2 px-3 rounded shadow">
                                    <p>Balance (USD)</p>
                                    <div>$ 0</div>
                                </div>
                            </div>
                            <div class="col-lg my-2">
                                <div class="currency-card py-2 px-3 rounded shadow">
                                    <p>Son 6 ay çatdırılma ödənişi</p>
                                    <div>$ 0</div>
                                </div>
                            </div>
                            <div class="col-lg my-2">
                                <div class="currency-card py-2 px-3 rounded shadow">
                                    <p>Şəhid ailələrinə dəstəyiniz</p>
                                    <div>$ 0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-root">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="yellow-nav d-md-flex">
                            <li>
                                <a href="">
                                    Xaricdəki ünvanlarım
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Sifarişlərim
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Bağlamalar/Bəyannamələr
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Kuryerlər
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    İadələr
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Balans
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Müraciətlər
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

