
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<section class="contact">
    <div class="contact-top py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="contact-item my-3">
                        <div class="row">
                            <div class="col-3">
                                <div class="contact-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <h3>Bizə zəng et</h3>
                                <p><a href="tel:+994123100825">+994 12 3100825</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="contact-item my-3">
                        <div class="row">
                            <div class="col-3">
                                <div class="contact-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <h3>Bizə zəng et</h3>
                                <p><a href="tel:+994123100825">+994 12 3100825</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-middle">
        <section class="contact-branch">
            <nav>
                <div class="container">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link show " href="" id="nav-tab-1">BAKI - Gənclik</a>
                        <a class="nav-item nav-link show" href="" id="nav-tab-2">BAKI - Xalqlar Dostluğu</a>
                        <a class="nav-item nav-link show" href="" id="nav-tab-3">BAKI - İnşaatçılar</a>
                        <a class="nav-item nav-link show" href="" id="nav-tab-4">SUMQAYIT</a>
                        <a class="nav-item nav-link show" href="" id="nav-tab-5">GƏNCƏ</a>
                    </div>
                </div>
            </nav>
            <div class="tab-content-branch">
                <div class="tabs">
                    <div class="container">
                        <div class="branch mb-5">
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>(Atatürk prospekti, 4A, Gənclik metrosunun yanı)</span>
                            </p>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                <span> 0123100825</span>
                            </p>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.2194712809915!2d49.84851151489419!3d40.40398856433905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403089bcbaa08b67%3A0xd304953b9d3ac079!2sStarex.az!5e0!3m2!1sen!2s!4v1589807924706!5m2!1sen!2s"
                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="tabs">
                    <div class="container">
                        <div class="branch mb-5">
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>(Xətai rayonu, Məhəmməd Hadi küçəsi 2)</span>
                            </p>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                <span> 0123100825</span>
                            </p>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d759.6615874913623!2d49.953653!3d40.39453!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x14be9f8dc149ab03!2sStarex.az!5e0!3m2!1sen!2sus!4v1600755594285!5m2!1sen!2sus"
                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="tabs">
                    <div class="container">
                        <div class="branch mb-5">
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>(Şərifzadə küçəsi 174)</span>
                            </p>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                <span> 0123100825</span>
                            </p>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d386.431404532782!2d49.80305328634686!3d40.39133682571904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40308763d1d56175%3A0x98576f1a74d52be3!2zU2FoaWJrYXJsxLFxYSBLw7ZtyZlrIE1pbGxpIEZvbmR1!5e1!3m2!1sen!2s!4v1600755708774!5m2!1sen!2s"
                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="tabs">
                    <div class="container">
                        <div class="branch mb-5">
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>(Bakı küçəsi 107, Aviakassanın yanı)</span>
                            </p>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                <span>0552088143</span>
                            </p>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.062560642385!2d49.664667515197245!3d40.58437447934601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403097e50809047d%3A0x39cfb98d420a630b!2sStarex.az!5e0!3m2!1sen!2s!4v1571149619810!5m2!1sen!2"
                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="tabs">
                    <div class="container">
                        <div class="branch mb-5">
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>(Nəriman Nərimanov küçəsi 298F, Köhnə Yevlax avtovağzalı ilə üzbəüz)</span>
                            </p>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                <span>0552088146</span>
                            </p>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.8680874310166!2d46.371941315200466!3d40.67687537933579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403f519530998c8f%3A0x32781f23a10d3b1!2sStarex.az!5e0!3m2!1sen!2s!4v1571149676649!5m2!1sen!2s"
                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </section>
        <div class="contact-bottom py-5">

        </div>
    </div>
    <div class="contact-logos d-flex flex-wrap">
        <div class="contact-logos d-flex flex-wrap justify-content-center align-items-center">
            <a href="">
                <img src="~/css/images/1586172068_9845507_endirim.png" alt="">
            </a>
            <a target="_blank" href="https://www.trendyol.com/?redirected_by=bon.az&utm_source=aff_t&utm_medium=cps&utm_campaign=gelirortaklari&utm_subaff=23738&adjust_tracker=21ouxa_bfy1cc&adjust_campaign=performics_tr&adjust_adgroup=1&adjust_label=1023e3fc58ca4e08f26aad8078035b&utm_content=23738&utm_term=0ea5f460552b995894f20ce3599549b7">
                <img src="~/css/images/1579602733_876465_1543501580_0589573_trendyol-logo.png" alt="">
            </a>
            <a href="https://www.flo.com.tr/">
                <img src="~/css/images/1579599907_17206_Flo.jpg" alt="">
            </a>
            <a href="mavi.com/kadin/c/1?redirected_by=bon.az&utm_source=digitouch&utm_medium=cpa&utm_content=genel&utm_campaign=23738&subaff=23738&utm_subaff=23738&utm_term=bbbab4d6cb1a37f5cd99963623da75ad" target="_blank">
                <img src="~/css/images/1579600043_2021968_1556195748_9644995_mavi.png" alt="">
            </a>
            <a href="https://www.amazon.com/" target="_blank">
                <img src="~/css/images/1579601448_4030259_amazone.jpg" alt="">
            </a>
            <a href="https://www.ebay.com/" target="_blank">
                <img src="~/css/images/1579601468_9616437_Ebay.jpg" alt="">
            </a>
            <a href="https://www.carters.com/home?id=carters&redirected_by=bon.az" target="_blank">
                <img src="~/css/images/1579601486_3814983_Carters.jpg" alt="">
            </a>
            <a href="https://www.ralphlauren.com/?redirected_by=bon.az" target="_blank">
                <img src="~/css/images/1579601505_6324306_Ralph_Lauren.jpg" alt="">
            </a>
            <a href="https://www.michaelkors.com/" target="_blank">
                <img src="~/css/images/1579601523_79973_Michael_Kors.jpg" alt="">
            </a>
            <a href="https://www.6pm.com/" target="_blank">
                <img src="~/css/images/1579601548_9173465_6Pm.jpg" alt="">
            </a>
        </div>
    </div>
</section>



