
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<section class="shop">
    <div class="bg-shop d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Tariflər</h1>
                    <nav>
                        <ul class="center-tarif d-flex p-0 m-0 justify-content-center">
                            <li class="center-tarif-item">
                                <a href="contact.html">
                                    Əsas
                                </a>/
                            </li>
                            <li class="center-tarif-item " aria-current="page">
                                Mağazalar
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="carriage py-3">
        <div class="container d-flex flex-column">
            <ul class="nav d-flex">
                <li class="nav-items d-flex flex-column align-items-center py-3 ">
                    <a class="nav-link">
                        <img src="~/css/images/US.png" alt=""> <br>
                        Uited States
                    </a>
                </li>
                <li class="nav-items d-flex flex-column align-items-center py-3 ">
                    <a class="nav-link">
                        <img src="~/css/images/Tr.png" alt=""> <br>
                        Turkey
                    </a>
                </li>
                <li class="nav-items d-flex flex-column align-items-center py-3 ">
                    <a class="nav-link">
                        <img src="~/css/images/CN.png" alt=""> <br>
                        China
                    </a>
                </li>
            </ul>
            <div class="tab-content-shop ">
                <div class="tabs d-none">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601448_4030259_amazone.jpg" alt="">
                                </div>
                                <p>Amazon</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601468_9616437_Ebay.jpg" alt="">
                                </div>
                                <p>Ebay</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601486_3814983_Carters.jpg" alt="">
                                </div>
                                <p>Carter`s</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601505_6324306_Ralph_Lauren.jpg" alt="">
                                </div>
                                <p>Ralphlauren</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601523_79973_Michael_Kors.jpg" alt="">
                                </div>
                                <p>Michael Kors</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601548_9173465_6Pm.jpg" alt="">
                                </div>
                                <p>6pm</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601565_8478298_Guess_Los_Angeles.jpg" alt="">
                                </div>
                                <p>guess los angeles</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601589_980559_Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579601606_6144576_OshKosh.jpg" alt="">
                                </div>
                                <p>oshkosh</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602437_1955047_1563954892_6535068_thechilrenplace.png" alt="">
                                </div>
                                <p>childrensplace</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602478_760461_Etsy.jpg" alt="">
                                </div>
                                <p>etsy</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602495_1989567_shop_Disney.jpg" alt="">
                                </div>
                                <p>shopdisney</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602531_1227937_BH.jpg" alt="">
                                </div>
                                <p>bhphotovideo</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602547_2587245_Charles_Keith.jpg" alt="">
                                </div>
                                <p>Charles&Keith</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602565_1992152_Kiko_Milano.jpg" alt="">
                                </div>
                                <p>Kikocosmetics</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602589_8185418_PullBear.jpg" alt="">
                                </div>
                                <p>Pull&Bear</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602625_8285425_GUESS.jpg" alt="">
                                </div>
                                <p>Guess Factory</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602789_1622229_River_Island.jpg" alt="">
                                </div>
                                <p>River Island</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tabs d-none">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1586172068_9845507_endirim.png" alt="">
                                </div>
                                <p>Endirim olan Türk saytları</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579602733_876465_1543501580_0589573_trendyol-logo.png" alt="">
                                </div>
                                <p>Trendyol</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579599907_17206_Flo.jpg" alt="">
                                </div>
                                <p>Flo`s</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579600043_2021968_1556195748_9644995_mavi.png" alt="">
                                </div>
                                <p>Mavi</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1579603994_0168626_Altin_Yildiz.jpg" alt="">
                                </div>
                                <p>Altın Yıldız</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543785809_314319_Koton_logo.jpg" alt="">
                                </div>
                                <p>Koton</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543785941_4208448_damat_tween.png" alt="">
                                </div>
                                <p>Damat Tween</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543785747_4826753_gitdigidiyor.png" alt="">
                                </div>
                                <p>GittiGidiyor</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543785990_4033732_n11_logo.jpg" alt="">
                                </div>
                                <p>N11</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543501528_2096822_polo_logo.png" alt="">
                                </div>
                                <p>Us Polo</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543786153_3219142_brandroom_logo.png" alt="">
                                </div>
                                <p>Brandroom</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543786279_528879_boyner_logo.jpg" alt="">
                                </div>
                                <p>Boyner</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543786342_298072_pierre-cardin-logo.jpg" alt="">
                                </div>
                                <p>Pierrecardin</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543786377_7514324_twist.png" alt="">
                                </div>
                                <p>Twist</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543786407_8972044_IPEKYOL.jpg" alt="">
                                </div>
                                <p>Ipekyol</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543786446_9226615_mango_logo.png" alt="">
                                </div>
                                <p>Mango</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543786659_6722534_Lidyana.jpg" alt="">
                                </div>
                                <p>Lidyana</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1543786706_119426_Morhipo.jpg" alt="">
                                </div>
                                <p>Morhipo</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tabs ">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1596524098_0021226_ali1.png" alt="">
                                </div>
                                <p>Aliexpress</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590733033_8269644_gear1.png" alt="">
                                </div>
                                <p>Gearbest</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590733185_420268_Geekbuying1.png" alt="">
                                </div>
                                <p>Geekbuying</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590733303_6853185_Banggood1.png" alt="">
                                </div>
                                <p>Banggood</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590733452_9157648_Glasseslit1.png" alt="">
                                </div>
                                <p>Glasseslit</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590733553_128513_Tomtop1.png" alt="">
                                </div>
                                <p>Tomtop</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590733741_0102417_Dresslily11.png" alt="">
                                </div>
                                <p>Dresslily</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590734290_567538_Dhgate1.png" alt="">
                                </div>
                                <p>Dhgate</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590734494_111235_Floryday1.png" alt="">
                                </div>
                                <p>Floryday</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590734645_956267_TVCmall1.png" alt="">
                                </div>
                                <p>TVCmall</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590734817_9949968_Rosegal1.png" alt="">
                                </div>
                                <p>Rosegal</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590735146_4118903_Ericdress1.png" alt="">
                                </div>
                                <p>Ericdress</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590736143_733711_Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590736265_802871_Chicme1.png" alt="">
                                </div>
                                <p>Chicme</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590736373_610686_tidebuy1.png" alt="">
                                </div>
                                <p>tidebuy</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590736499_5065966_Lightinthebox1.png" alt="">
                                </div>
                                <p>Lightinthebox</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590739428_5961697_Newchic1.png" alt="">
                                </div>
                                <p>Newchic</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 ">
                            <a href="" class="my-3">
                                <div class="img-shop">
                                    <img src="~/css/images/1590739619_95236_Ivrose1.png" alt="">
                                </div>
                                <p>Ivrose</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



