
@{
    ViewData["Title"] = "Tarif";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<section class="tarif">
    <div class="bg-image d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Tariflər</h1>
                    <nav>
                        <ul class="center-tarif d-flex p-0 m-0 justify-content-center">
                            <li class="center-tarif-item">
                                <a href="contact.html">
                                    Əsas
                                </a>/
                            </li>
                            <li class="center-tarif-item " aria-current="page">
                                Tariflər
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="carriage py-3">
        <div class="container d-flex flex-column">
            <h2>Daşınma tarifləri</h2>
            <ul class="nav d-flex">
                <li class="nav-items d-flex flex-column align-items-center py-3 ">
                    <a class="nav-link">
                        <img src="~/css/images/US.png" alt=""> <br>
                        Uited States
                    </a>
                </li>
                <li class="nav-items d-flex flex-column align-items-center py-3 ">
                    <a class="nav-link">
                        <img src="~/css/images/Tr.png" alt=""> <br>
                        Turkey
                    </a>
                </li>
                <li class="nav-items d-flex flex-column align-items-center py-3 ">
                    <a class="nav-link">
                        <img src="~/css/images/CN.png" alt=""> <br>
                        China
                    </a>
                </li>
            </ul>
            <div class="carriage-tab">
                <div class="carriage-content">
                    <div class="content-item border bg-white p-4 my-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-9 border-right">
                                <p class="text-center">0.0 kq-dan 0.25 kq-a qədər</p>
                            </div>
                            <div class="col-md-6 col-3">
                                <p class="text-center">$ 2.50</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-item border bg-white p-4 my-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-9 border-right">
                                <p class="text-center">0.25 kq-dan 0.5 kq-a qədər</p>
                            </div>
                            <div class="col-md-6 col-3">
                                <p class="text-center">$ 4.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-item border bg-white p-4 my-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-9 border-right">
                                <p class="text-center">0.5 kq-dan 0.75 kq-a qədər</p>
                            </div>
                            <div class="col-md-6 col-3">
                                <p class="text-center">$ 5.50</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-item border bg-white p-4 my-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-9 border-right">
                                <p class="text-center">0.75 kq-dan 1.0 kq-a qədər</p>
                            </div>
                            <div class="col-md-6 col-3">
                                <p class="text-center">$ 6.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-item border bg-white p-4 my-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-9 border-right">
                                <p class="text-center">1-5 kq (hər kq görə)</p>
                            </div>
                            <div class="col-md-6 col-3">
                                <p class="text-center">$ 6.50</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-item border bg-white p-4 my-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-9 border-right">
                                <p class="text-center">5-10 kq (hər kq görə)</p>
                            </div>
                            <div class="col-md-6 col-3">
                                <p class="text-center">$ 6.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-item border bg-white p-4 my-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-9 border-right">
                                <p class="text-center">10 kq-dan yuxarı (hər kq görə)</p>
                            </div>
                            <div class="col-md-6 col-3">
                                <p class="text-center">$ 5.50</p>
                            </div>
                        </div>
                    </div>
                    <div style="font-size: 18px;">
                        <strong>
                            Qeyd: Uzunluğu 1 metrdən yuxarı olan məhsulların çatdırılma ödənişi həcm çəkisinə uyğun
                            hesablanır. <br>
                            Hesablanma qaydası: en x uzunluq x hündürlük / 6000 <br>
                            1 tərəfinin uzunluğu 120 sm-dən uzun olan bağlamalara əlavə 50$ daşınma haqqı
                            hesablanacaq
                        </strong>
                    </div>
                </div>

            </div>
            <div class="carriage-tab">

                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.0 kq-dan 0.25 kq-a qədər</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 2.50</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.25 kq-dan 0.5 kq-a qədər</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 3.50</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.5 kq-dan 0.75 kq-a qədər</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 4.50</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.75 kq-dan 1.0 kq-a qədər</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 5.50</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">2-5 kq (hər kq görə)</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 5.00</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">5-10 kq (hər kq görə)</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 4.50</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">10kq-dan yuxarı (hər kq görə)</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 4.00</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.0 kq-dan 0.25 kq-a qədər</p>
                            <p style="color:#ffab03" class="text-center">Maye məhsulları</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 2.00</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.25 kq-dan 0.5 kq-a qədər</p>
                            <p style="color:#ffab03" class="text-center">Maye məhsulları</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 4.00</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.5 kq-dan 0.75 kq-a qədər</p>
                            <p style="color:#ffab03" class="text-center">Maye məhsulları</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 6.00</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.75 kq-dan 1.0 kq-a qədər</p>
                            <p style="color:#ffab03" class="text-center">Maye məhsulları</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 8.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carriage-tab">
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.0 kq-dan 0.25 kq-a qədər</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 4.90</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.25 kq-dan 0.5 kq-a qədər</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 6.90</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.5 kq-dan 0.75 kq-a qədər</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 8.50</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">0.75 kq-dan 1.0 kq-a qədər</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 9.50</p>
                        </div>
                    </div>
                </div>
                <div class="tarif-item border bg-white p-4 my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-9 border-right">
                            <p class="text-center">1 kg-dan yuxarı (hər kq görə)</p>
                        </div>
                        <div class="col-md-6 col-3">
                            <p class="text-center">$ 9.50</p>
                        </div>
                    </div>
                </div>
                <div style="font-size: 18px;">
                    <strong>
                        Qeyd: Uzunluğu 1 metrdən yuxarı olan məhsulların çatdırılma ödənişi həcm çəkisinə uyğun
                        hesablanır. <br>
                        Hesablanma qaydası: en x uzunluq x hündürlük / 6000 <br>
                        1 tərəfinin uzunluğu 120 sm-dən uzun olan bağlamalara əlavə 50$ daşınma haqqı hesablanacaq
                    </strong>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="courier-tarif">
    <div class="container">
        <h2 class="text-center my-4">Kuryer tarifləri</h2>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Nəsimi rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        1.50
                        <span class="manat"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Səbail rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        1.50
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Nizami rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        1.50
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Nərimanov rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        1.50
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Xətai rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        1.50
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Yasamal rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        1.50
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Binəqədi rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        1.50
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Sabunçu rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        3.00
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Suraxanı rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        3.00
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Qaradağ rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        5.00
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Xəzər rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        5.00
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Pirallahı rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        5.00
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Abşeron rayonu
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        5.00
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Sumqayıt şəhəri
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        2.00
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Gəncə şəhəri
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        2.00
                        <span class="manat" style=""></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarif-item border bg-white p-4 my-2">
            <div class="row align-items-center">
                <div class="col-md-6 col-9 border-right">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        Digər rayonlara (poçtla çatdırılma)
                    </p>
                    <p class="text-center text-sm font-weight-bold">
                        *Poçt xidmətinin ödənişi əlavədir
                    </p>
                </div>
                <div class="col-md-6 col-3">
                    <p class="text-center" style="font: 20px/25px Roboto-Regular">
                        2.00
                        <span class="manat"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


