
@{
    ViewData["Title"] = "Transportation";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}



<section class="top-transport">
    <div class="transport-image d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <h1 style="color: #FFA249;">Tariflər</h1>
                    <nav>
                        <ul class="center-tarif d-flex p-0 m-0 justify-content-center">
                            <li class="center-tarif-item">
                                <a href="home.html">
                                    Əsas
                                </a>/
                            </li>
                            <li class="center-tarif-item " aria-current="page">
                                Tariflər
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="center-transport">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 content">
                    <p>
                        <big>
                            “Starex” MMC göstərdiyi vasitəçilik xidməti çərçivəsində heç bir halda&nbsp;satıcı firmanın göndərdiyi məhsulun keyfiyyətinə, tamlığına, tərkibinə, ölçü və formasına, satış anbarında tükənməsinə, vaxtında çatdırılmasına&nbsp; görə məsuliyyət daşımır.&nbsp;Sifarişiniz mağaza tərəfindən yanlış, yararsız və zədələnmiş şəkildə göndərilərsə, geri qaytarma xidmətimizdən istifadə edə bilərsiniz.<strong>
                                *Bağlamanız Bakı ofisimizə daxil olduqdan sonra 48 saat ərzində təhvil alınaraq yerindəcə yoxlanılmalıdır. *Sifarişlər çəkiyə uyğun tariflərlə geri qaytarılır.<br>
                                (Qeyd: Mövcud vəziyyətlə əlaqədar olaraq "Geri qaytarma" xidmətimiz qeyri-müəyyən vaxta qədər aktiv deyildir.)
                            </strong><br>
                            <br>
                            Xarici anbarımıza daxil olmuş bağlama xarici anbarımızdan birbaşa mağazaya iade edilmir.<br>
                            <br>
                            Müştəri Türkiyədən həm "Həvalə et" xidmətimizlə, həm də "Xarici ünvanlarımız" bölməsindən istifadə etməklə öz kartı&nbsp;ilə birbaşa mağazadan sifariş edə bilər.&nbsp;<br>
                            Müştəri Amerikadan yalnız&nbsp;"Xarici ünvanlarımız" bölməsindən istifadə etməklə&nbsp;öz kartı ilə birbaşa mağazadan sifariş edə bilər.&nbsp;
                        </big><br>
                        <br>
                        <big>Sifarişlə bağlı məlumat almaq üçün sifariş təsdiqləndiyi tarixdən etibarən 1 ay ərzində sorğu yaradılmalıdır. Daha sonra yaradılan sorğular etibarsız&nbsp;sayılaraq araşdırılmayacaqdır.&nbsp;</big>
                    </p>
                    <p>
                        <big>
                            Məhsullar daşıyıcı tərəfindən sığortalanmır və daşıyıcı buna görə heç bir məsuliyyət daşımır.&nbsp;<br>
                            <br>
                            “Starex” MMC qəbul olunmuş sifarişləri növbəlilik əsasında həyata keçirir və həftə içi 24 saat ərzində sifarişlərin yerləşdirməsinə zəmanət verir. Bununla belə sifariş prosesində hər hansı problem yarandıqda (məhsulun bitməsi, sifariş olunan ölçünün və ya rəngin bitməsi, kampaniyanın başa çatması, ödəmə problemi və s.) istifadəçinin ödədiyi məbləğ istifadəçinin balansına geri qaytarılır.&nbsp;Qeyd edək ki, endirimlərlə əlaqədar olaraq bəzən bu müddət uzana bilər.<br>
                            <br>
                            "Həvalə et" xidmətimizdən istifadə zamanı "Ödənildi" statusunda olan&nbsp;sifarişlərdə hər hansı bir dəyişiklik (ölçü, rəng və s. dəyişimi)&nbsp;edilmir.&nbsp;<br>
                            <br>
                            İstifadəçi balansına yüklənən məbləği digər məhsulların alınmasına istifadə edə bilər və yaxud da hesabına geri tələb edə bilər. Bu halda məbləğ istifadəçinin hesabına 3-5&nbsp;iş gün ərzində geri qaytarılır.&nbsp;<br>
                            <br>
                            Sifarişlər verilərkən məhsul(lar)un və Türkiyə daxili karqonun ödənişi tam ödənilməlidir. Ödənilmədiyi təqdirdə çatışmayan məbləğ varsa müştərinin mövcud balansından tutulur və yaxud da məhsul(lar) təhvil verilərkən müştəridən tələb olunur. Ödənişlər tam ödənildikdən sonra məhsulun təhvili mümkündür.&nbsp;<br>
                            <br>
                            Maksimum 10 manat olmaqla sifariş&nbsp;məbləğinin 10 faizi həcmində kənarlaşma&nbsp;olarsa, müştəriyə&nbsp;məlumat verilmədən&nbsp;balansından silinməklə sifariş həyata keçirilir.<br>
                            <br>
                            &nbsp;“Starex” MMC qəbul olunmuş sifarişləri eyni anda və birlikdə həyata keçirir. Buna baxmayaraq məhsullar satıcı tərəfindən ayrı-ayrı bağlamalarda göndərilə bilər və buna görə “Starex” MMC məsuliyyət daşımır.&nbsp;Məhsullar satıcı mağaza tərəfindən neçə bağlama olaraq xarici anbarımıza&nbsp;çatdırılırsa, hər bağlama ayrılıqda hesablanır.<br>
                            <br>
                            Türkiyə saytlarından alış-veriş edərkən tərkibində maye olan məhsulları digər məhsullardan ayrı formada satın almağınızı tövsiyə edirik. Bu məhsulları xarici saytlarda ayrı səbətlərdə aldığınız zaman bu sifarişlər xarici anbarımıza da ayrı bağlamalarda daxil olur. 20 oktyabr tarixindən etibarən Türkiyə anbarımıza daxil olan və tərkibində ən az bir maye məhsulu olacaq bağlamaların tam çəkisi maye tariflərinə əsasən hesablanacaqdır. Xatırladaq ki, beynəlxalq daşıma şərtlərinə görə maye məhsulları digər məhsullardan ayrı daşınmalıdır.&nbsp;<br>
                            "Həvalə et" xidmətimizlə sifariş zamanı maye məhsullar və adi məhsullar əməkdaşlarımız tərəfindən ayrı-ayrı səbətlərdə təsdiqlənir.<br>
                            <br>
                            Sifariş edilmiş bağlama daşıyıcının anbarlarına daxil olduqda bu barədə sifarişçiyə email, sms&nbsp;və tətbiq xəbərdarlığı vasitəsilə məlumat veriləcək. Müştəri bağlamanı ofisimizdən götürə bilər və ya əlavə xidmət haqqı ödəməklə adresinə çatdırıla bilər.
                        </big>
                    </p>
                    <p>
                        <big>
                            10 fevral 2020-ci il tarixindən etibarən&nbsp;Amerika anbarımıza daxil olan&nbsp;məhsulların satıcı mağazalara Starex.az şirkəti tərəfindən geri qaytarılması prosesi dayandırılmışdır. Amerika anbarımıza daxil olan daşınması qadağan olunan məhsullar (parfüm, mist, losyon, tərkibində tezalışan maddə olan digər məhsullar və s.) 2 ay müddətində saxlanıldıqdan sonra məhv ediləcəkdir.&nbsp;Bu səbəbdən Amerikadan bu növ məhsulları sifariş etməməyiniz tövsiyə olunur.<br>
                            <br>
                            Xarici anbarımıza daxil olmuş bağlamaların içərisində müştərinin daha öncə bəyan etmədiyi bağlama olduqda və bu bağlamadakı məhsulun qiyməti, tipi və mağazanın adını xarici anbarımızda müəyyənləşdirmək mümkün olmadıqda bu bağlamanın statusu "Tamamlanmamış bəyannamə" statusuna keçirilərək bununla bağlı müştəriyə məlumat göndərilir. Müştəri şəxsi kabinetində "Tamamlanmamış bəyənnamə" statusuna daxil olaraq həmin bağlamanı görə və məlumatlarında düzəliş edə bilər. Müştəri yalnız məlumatları tam şəkildə bəyannamədə qeyd etdikdən sonra bağlama yola çıxması üçün hazırlanacaqdır. Müştəri bu məlumatları bəyannaməyə daxil edənədək Gömrük orqanlarının tələbinə əsasən bağlamanın göndərişinin həyata keçirilməsi mümkün olmayacaqdır.
                        </big>
                    </p>
                    <p>
                        <big>
                            Uzunluğu 1 metrdən yuxarı olan məhsulların çatdırılma ödənişi həcm çəkisinə uyğun hesablanır.<br>
                            Hesablanma qaydası: en x uzunluq x hündürlük / 6000<br>
                            <strong>1 tərəfinin uzunluğu 120 sm-dən uzun olan bağlamalara əlavə 50$ daşınma haqqı hesablanacaq.</strong>
                        </big>
                    </p>
                    <p>
                        <big>Qəbul olunan bağlama&nbsp;ofisimizdə, kuryer çatdırılması edilibsə, kuryerin yanında yoxlanılmalıdır. Məhsulda hər hansı bir xəsarət olduğu təqdirdə yerindəcə əməkdaşlarımıza və ya kuryerə məlumat təqdim edilməlidir. Əks təqdirdə sonradan aşkarlanmış hər hansı bir çatışmazlığa görə daşıyıcı məsuliyyət daşımır.</big><br>
                        &nbsp;
                    </p>
                    <p>
                        <big>
                            Məlumat üçün nəzərinizə çatdırırıq ki, sifarişlərin dəyəri 1 (bir) təqvim ayı ərzində 300 ABŞ dolları məbləğinədək olduqda gömrük orqanları tərəfindən hər hansı bir rüsuma cəlb olunmur. 300 ABŞ dollarından artıq olduğu təqdirdə və gömrük orqanları tərəfindən kommersiya məqsədi daşıdığı barədə məlumat verildiyi halda qanunvericiliyə uyğun olaraq gömrük nomenkulaturasında nəzərdə tutulan həcmdə rüsuma cəlb olunacaq. Qeyd edək ki, rusumun maksimum həddi 36% təşkil edir.<br>
                            1.Sifarişlərin 1 təqvim ayı ərzində ümumi dəyəri 300 ABŞ dolları məbləğini keçdikdə,<br>
                            2.Sifariş verdiyiniz məhsulun Gömrük orqanı tərəfindən &nbsp;kommersiya məqsədli oldugunu təyin edildikdə,<br>
                            3.Ölkəyə idxalı qadağan olan məhsullar olduqda sifarişiniz gömrükdə saxlanıla bilər.
                        </big>
                    </p>
                    <p>
                        <big>
                            Dövlət Gömrük komitəsinin sədri Səfər Mehdiyevin müsahibəsinə əsasən 1 təqvim ayı ərzində birdən çox bağlama gətirilməsi mümkündür. Lakin bununla bağlı qərar dərc olunmayıb. (Yeni qərar dərc olunduqda məlumat yenilənəcəkdir.)<br>
                            <br>
                            <strong>Daşınması qadağan olunan məhsullar:</strong><br>
                            <br>
                            Azərbaycan Respublikasına &nbsp;fiziki şəxslər tərəfindən gətirilməsi və beynəlxalq poçt göndərişləri vasitəsi ilə alınması qadağan olunmuş mallar, yivli odlu silah növləri, döyüş sursatı (ov silahları üçün sursatlar istisna edilməklə), hərbi təyinatlı bütün əşyalar, partlayıcı maddələr və hərbi texnika.<br>
                            - Maye məhsullar&nbsp; (Amerikadan tərkibində tezalışan maddə varsa, gətirilmir. Çindən maye məhsullarının gətirilməsi mümkün deyildir. Türkiyədən maye məhsulların gətirilməsi mümkündür)<br>
                            - Telefonlar, tərkibində batareya olan avadanlıqlar, powerbank-lar, planşet<br>
                            - Kamerası və səsyazması olan saatlar<br>
                            - Spirtli içkilərin bütün növləri və pivə, tütün məhsulları<br>
                            - Amerikadan partlayıcı, tezalışan və digər təhlükəli maddələr, eləcə də radioaktiv maddələr (parfumeriya, sprey, lasyon, mist, quru şampun, boyalar və s.)<br>
                            - Tibbi məhsullar<br>
                            - Gizli kamera<br>
                            - Akkumlyatorlar<br>
                            - Amortizatorlar<br>
                            - Hover Board skuteri<br>
                            - Hava nəqliyyatı ilə daşınılması qadağan olunan əşyalar<br>
                            - Radioaktiv maddələr.<br>
                            - Narkotik və psixotrop maddələr, onlardan istifadə üçün ləvazimatlar.<br>
                            - Əxlaq pozğunluğunun, zorakılığın, terrorizmin təbliğini və reklamını edən materiallar.<br>
                            - Narkotik, psixotrop, zəhərləyici, partlayıcı maddələrin hazırlanması texnologiyasına aid materiallar.<br>
                            - Canlı heyvanlar - Bitki və toxumlar<br>
                            - Hər cür silah növləri, döyüş sursatı, hərbi təyinatlı hər cür əşyalar, partlayıcı maddələr, hərbi texnika.<br>
                            - Xüsusi məxfi rabitə vasitələri, onların şifrləri və istismarı haqqında ədəbiyyat.<br>
                            - Müdafiə, Milli Təhlükəsizlik və Daxili İşlər nazirliklərinin operativ istintaq fəaliyyəti üzrə informasiya sistemləri, sənədləri və arxivləri.<br>
                            - Dövlət əhəmiyyətli sənədlər, ixtiralar, layihələr.<br>
                            - Xammal şəklində olan qiymətli metallar və qiymətli qaşlar.<br>
                            - Qanunvericiliyin tələbini ödəməyən digər məhsullar.
                        </big>
                    </p>
                </div>
                <div class="col-lg-3">
                    <div class="about-tr">
                        <div class="about-header">
                            <strong>ŞİRKƏT</strong>
                            HAQQINDA
                        </div>
                        <nav>
                            <ul>
                                <li>
                                    <a href="">Haqqımızda</a>
                                </li>
                                <li>
                                    <a href="tarif.html">Tariflər</a>
                                </li>
                                <li>
                                    <a href="">Xidmətlər</a>
                                </li>cs
                                <li>
                                    <a href="">Xəbərlər</a>
                                </li>
                                <li>
                                    <a href="shop.html">Mağazalar</a>
                                </li>
                                <li>
                                    <a href="">Tez-tez verilən suallar</a>
                                </li>
                                <li>
                                    <a href="contact.html">Əlaqə</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


